
body{
  background-color:#ccedd2;
}
hr{
  border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 20%;
    border-color: gray;

}
h2{
color: #63b7af;
}
h3{
  color: #63b7af;
}
